# Import Libraries

In [1]:
import pandas as pd

# Import Dataset with Divorces Data

In [2]:
divorces = pd.read_csv(
    filepath_or_buffer='./../data/divorce.csv'
)

divorces

,divorce_date,dob_man,education_man,income_man,dob_woman,education_woman,income_woman,marriage_date,marriage_duration,num_kids
0,2006-09-06,1975-12-18,Secondary,2000.0,1983-08-01,Secondary,1800.0,2000-06-26,5.0,1.0
1,2008-01-02,1976-11-17,Professional,6000.0,1977-03-13,Professional,6000.0,2001-09-02,7.0,NaN
2,2011-01-02,1969-04-06,Preparatory,5000.0,1970-02-16,Professional,5000.0,2000-02-02,2.0,2.0
3,2011-01-02,1979-11-13,Secondary,12000.0,1981-05-13,Secondary,12000.0,2006-05-13,2.0,NaN
4,2011-01-02,1982-09-20,Professional,6000.0,1988-01-30,Professional,10000.0,2007-08-06,3.0,NaN
...,...,...,...,...,...,...,...,...,...,...
2204,2006-10-31,1969-11-27,Professional,6000.0,1975-09-01,Professional,14000.0,2002-03-08,4.0,NaN
2205,2006-10-31,1970-09-17,Professional,6000.0,1977-07-22,Professional,6000.0,2002-03-22,4.0,NaN
2206,2011-10-31,1976-03-11,Professional,8000.0,1978-12-28,Professional,7000.0,2009-02-10,2.0,NaN
2207,2012-10-31,1977-10-29,Professional,12500.0,1978-12-01,Professional,6000.0,2008-10-25,3.0,NaN
2208,2013-12-31,1960-06-22,Professional,20000.0,1972-01-22,Professional,20000.0,2009-08-22,4.0,NaN

# Check Missing Data

In [3]:
divorces.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2209 entries, 0 to 2208
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   divorce_date       2209 non-null   object
 1   dob_man            2209 non-null   object
 2   education_man      2205 non-null   object
 3   income_man         2209 non-null   float64
 4   dob_woman          2209 non-null   object
 5   education_woman    2209 non-null   object
 6   income_woman       2209 non-null   float64
 7   marriage_date      2209 non-null   object
 8   marriage_duration  2209 non-null   float64
 9   num_kids           1333 non-null   float64
dtypes: float64(4), object(6)
memory usage: 172.7+ KB

In [4]:
divorces.isna().sum()

divorce_date           0
dob_man                0
education_man          4
income_man             0
dob_woman              0
education_woman        0
income_woman           0
marriage_date          0
marriage_duration      0
num_kids             876
dtype: int64

In [5]:
divorces['education_man'].value_counts(
    dropna=False
)

education_man
Professional    1313
Preparatory      501
Secondary        288
Primary          100
NaN                4
Other              3
Name: count, dtype: int64

In [6]:
divorces[divorces['education_man'].isna()]

,divorce_date,dob_man,education_man,income_man,dob_woman,education_woman,income_woman,marriage_date,marriage_duration,num_kids
246,2011-04-07,1979-08-04,NaN,3600.0,1976-05-02,Primary,3400.0,1997-07-18,13.0,2.0
635,2008-09-10,1967-02-23,NaN,5000.0,1970-04-02,Secondary,1600.0,1988-03-10,6.0,3.0
1665,2014-06-23,1983-01-01,NaN,1700.0,1989-01-01,Secondary,1700.0,2006-06-09,8.0,1.0
1753,2012-01-25,1978-07-09,NaN,3000.0,1974-03-23,Preparatory,4000.0,2010-10-12,1.0,NaN

### If missing data represents <5% we can delete them without consequentions

In [7]:
len(divorces[divorces['education_man'].isna()]) / len(divorces)

0.0018107741059302852

In [8]:
len(divorces[divorces['education_man'].isna()]) / len(divorces) < 0.05

True

In [9]:
divorces['num_kids'].value_counts(
    dropna=False
)

num_kids
NaN    876
1.0    621
2.0    550
3.0    142
4.0     17
5.0      3
Name: count, dtype: int64

### NaN in this case represents no kids

In [10]:
divorces[divorces['num_kids'].isna()]

,divorce_date,dob_man,education_man,income_man,dob_woman,education_woman,income_woman,marriage_date,marriage_duration,num_kids
1,2008-01-02,1976-11-17,Professional,6000.0,1977-03-13,Professional,6000.0,2001-09-02,7.0,NaN
3,2011-01-02,1979-11-13,Secondary,12000.0,1981-05-13,Secondary,12000.0,2006-05-13,2.0,NaN
4,2011-01-02,1982-09-20,Professional,6000.0,1988-01-30,Professional,10000.0,2007-08-06,3.0,NaN
5,2012-01-02,1973-09-07,Professional,20000.0,1974-05-20,Professional,15.0,2000-03-08,11.0,NaN
11,2010-01-03,1987-05-04,Preparatory,2000.0,1986-09-21,Preparatory,2000.0,2005-07-12,4.0,NaN
...,...,...,...,...,...,...,...,...,...,...
2204,2006-10-31,1969-11-27,Professional,6000.0,1975-09-01,Professional,14000.0,2002-03-08,4.0,NaN
2205,2006-10-31,1970-09-17,Professional,6000.0,1977-07-22,Professional,6000.0,2002-03-22,4.0,NaN
2206,2011-10-31,1976-03-11,Professional,8000.0,1978-12-28,Professional,7000.0,2009-02-10,2.0,NaN
2207,2012-10-31,1977-10-29,Professional,12500.0,1978-12-01,Professional,6000.0,2008-10-25,3.0,NaN
2208,2013-12-31,1960-06-22,Professional,20000.0,1972-01-22,Professional,20000.0,2009-08-22,4.0,NaN

# Handle Missing Data

In [11]:
len(divorces)

2209

In [12]:
divorces = divorces.dropna(
    subset='education_man'
)

In [13]:
len(divorces)

2205

In [14]:
divorces['education_man'].value_counts(
    dropna=False
)

education_man
Professional    1313
Preparatory      501
Secondary        288
Primary          100
Other              3
Name: count, dtype: int64

In [15]:
divorces.loc[:, ['num_kids']] = divorces['num_kids'].fillna(
    value=0
)

In [16]:
divorces['num_kids'].value_counts(
    dropna=False
)

num_kids
0.0    875
1.0    620
2.0    549
3.0    141
4.0     17
5.0      3
Name: count, dtype: int64

# Add New Informations

In [17]:
divorces['divorce_date_year'] =pd.to_datetime(divorces['divorce_date']).dt.year.astype(int)
divorces['divorce_date_month'] = pd.to_datetime(divorces['divorce_date']).dt.month.astype(int)
divorces['divorce_date_day'] = pd.to_datetime(divorces['divorce_date']).dt.day.astype(int)

divorces['dob_man_year'] = pd.to_datetime(divorces['dob_man']).dt.year.astype(int)
divorces['dob_man_month'] = pd.to_datetime(divorces['dob_man']).dt.month.astype(int)
divorces['dob_man_day'] = pd.to_datetime(divorces['dob_man']).dt.day.astype(int)

divorces['dob_woman_year'] = pd.to_datetime(divorces['dob_woman']).dt.year.astype(int)
divorces['dob_woman_month'] = pd.to_datetime(divorces['dob_woman']).dt.month.astype(int)
divorces['dob_woman_day'] = pd.to_datetime(divorces['dob_woman']).dt.day.astype(int)

divorces['marriage_date_year'] = pd.to_datetime(divorces['marriage_date']).dt.year.astype(int)
divorces['marriage_date_month'] = pd.to_datetime(divorces['marriage_date']).dt.month.astype(int)
divorces['marriage_date_day'] = pd.to_datetime(divorces['marriage_date']).dt.day.astype(int)

divorces

/var/folders/5r/_c42s4_d6h5g65rnc5b8q6240000gn/T/ipykernel_55656/523033758.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  divorces['divorce_date_year'] =pd.to_datetime(divorces['divorce_date']).dt.year.astype(int)
/var/folders/5r/_c42s4_d6h5g65rnc5b8q6240000gn/T/ipykernel_55656/523033758.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  divorces['divorce_date_month'] = pd.to_datetime(divorces['divorce_date']).dt.month.astype(int)
/var/folders/5r/_c42s4_d6h5g65rnc5b8q6240000gn/T/ipykernel_55656/523033758.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  divorces['divorce_date_day'] = pd.to_datetime(divorces['divorce_date']).dt.day.astype(int)
/var/folders/5r/_c42s4_d6h5g65rnc5b8q6240000gn/T/ipykernel_55656/523033758.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  divorces['dob_man_year'] = pd.to_datetime(divorces['dob_man']).dt.year.astype(int)
/var/folders/5r/_c42s4_d6h5g65rnc5b8q6240000gn/T/ipykernel_55656/523033758.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  divorces['dob_man_month'] = pd.to_datetime(divorces['dob_man']).dt.month.astype(int)
/var/folders/5r/_c42s4_d6h5g65rnc5b8q6240000gn/T/ipykernel_55656/523033758.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  divorces['dob_man_day'] = pd.to_datetime(divorces['dob_man']).dt.day.astype(int)
/var/folders/5r/_c42s4_d6h5g65rnc5b8q6240000gn/T/ipykernel_55656/523033758.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  divorces['dob_woman_year'] = pd.to_datetime(divorces['dob_woman']).dt.year.astype(int)
/var/folders/5r/_c42s4_d6h5g65rnc5b8q6240000gn/T/ipykernel_55656/523033758.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  divorces['dob_woman_month'] = pd.to_datetime(divorces['dob_woman']).dt.month.astype(int)
/var/folders/5r/_c42s4_d6h5g65rnc5b8q6240000gn/T/ipykernel_55656/523033758.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  divorces['dob_woman_day'] = pd.to_datetime(divorces['dob_woman']).dt.day.astype(int)
/var/folders/5r/_c42s4_d6h5g65rnc5b8q6240000gn/T/ipykernel_55656/523033758.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  divorces['marriage_date_year'] = pd.to_datetime(divorces['marriage_date']).dt.year.astype(int)
/var/folders/5r/_c42s4_d6h5g65rnc5b8q6240000gn/T/ipykernel_55656/523033758.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  divorces['marriage_date_month'] = pd.to_datetime(divorces['marriage_date']).dt.month.astype(int)
/var/folders/5r/_c42s4_d6h5g65rnc5b8q6240000gn/T/ipykernel_55656/523033758.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  divorces['marriage_date_day'] = pd.to_datetime(divorces['marriage_date']).dt.day.astype(int)

,divorce_date,dob_man,education_man,income_man,dob_woman,education_woman,income_woman,marriage_date,marriage_duration,num_kids,...,divorce_date_day,dob_man_year,dob_man_month,dob_man_day,dob_woman_year,dob_woman_month,dob_woman_day,marriage_date_year,marriage_date_month,marriage_date_day
0,2006-09-06,1975-12-18,Secondary,2000.0,1983-08-01,Secondary,1800.0,2000-06-26,5.0,1.0,...,6,1975,12,18,1983,8,1,2000,6,26
1,2008-01-02,1976-11-17,Professional,6000.0,1977-03-13,Professional,6000.0,2001-09-02,7.0,0.0,...,2,1976,11,17,1977,3,13,2001,9,2
2,2011-01-02,1969-04-06,Preparatory,5000.0,1970-02-16,Professional,5000.0,2000-02-02,2.0,2.0,...,2,1969,4,6,1970,2,16,2000,2,2
3,2011-01-02,1979-11-13,Secondary,12000.0,1981-05-13,Secondary,12000.0,2006-05-13,2.0,0.0,...,2,1979,11,13,1981,5,13,2006,5,13
4,2011-01-02,1982-09-20,Professional,6000.0,1988-01-30,Professional,10000.0,2007-08-06,3.0,0.0,...,2,1982,9,20,1988,1,30,2007,8,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2204,2006-10-31,1969-11-27,Professional,6000.0,1975-09-01,Professional,14000.0,2002-03-08,4.0,0.0,...,31,1969,11,27,1975,9,1,2002,3,8
2205,2006-10-31,1970-09-17,Professional,6000.0,1977-07-22,Professional,6000.0,2002-03-22,4.0,0.0,...,31,1970,9,17,1977,7,22,2002,3,22
2206,2011-10-31,1976-03-11,Professional,8000.0,1978-12-28,Professional,7000.0,2009-02-10,2.0,0.0,...,31,1976,3,11,1978,12,28,2009,2,10
2207,2012-10-31,1977-10-29,Professional,12500.0,1978-12-01,Professional,6000.0,2008-10-25,3.0,0.0,...,31,1977,10,29,1978,12,1,2008,10,25
2208,2013-12-31,1960-06-22,Professional,20000.0,1972-01-22,Professional,20000.0,2009-08-22,4.0,0.0,...,31,1960,6,22,1972,1,22,2009,8,22

In [18]:
divorces['age_difference'] = divorces['dob_woman_year'] - divorces['dob_man_year']

divorces

/var/folders/5r/_c42s4_d6h5g65rnc5b8q6240000gn/T/ipykernel_55656/3632012328.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  divorces['age_difference'] = divorces['dob_woman_year'] - divorces['dob_man_year']

,divorce_date,dob_man,education_man,income_man,dob_woman,education_woman,income_woman,marriage_date,marriage_duration,num_kids,...,dob_man_year,dob_man_month,dob_man_day,dob_woman_year,dob_woman_month,dob_woman_day,marriage_date_year,marriage_date_month,marriage_date_day,age_difference
0,2006-09-06,1975-12-18,Secondary,2000.0,1983-08-01,Secondary,1800.0,2000-06-26,5.0,1.0,...,1975,12,18,1983,8,1,2000,6,26,8
1,2008-01-02,1976-11-17,Professional,6000.0,1977-03-13,Professional,6000.0,2001-09-02,7.0,0.0,...,1976,11,17,1977,3,13,2001,9,2,1
2,2011-01-02,1969-04-06,Preparatory,5000.0,1970-02-16,Professional,5000.0,2000-02-02,2.0,2.0,...,1969,4,6,1970,2,16,2000,2,2,1
3,2011-01-02,1979-11-13,Secondary,12000.0,1981-05-13,Secondary,12000.0,2006-05-13,2.0,0.0,...,1979,11,13,1981,5,13,2006,5,13,2
4,2011-01-02,1982-09-20,Professional,6000.0,1988-01-30,Professional,10000.0,2007-08-06,3.0,0.0,...,1982,9,20,1988,1,30,2007,8,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2204,2006-10-31,1969-11-27,Professional,6000.0,1975-09-01,Professional,14000.0,2002-03-08,4.0,0.0,...,1969,11,27,1975,9,1,2002,3,8,6
2205,2006-10-31,1970-09-17,Professional,6000.0,1977-07-22,Professional,6000.0,2002-03-22,4.0,0.0,...,1970,9,17,1977,7,22,2002,3,22,7
2206,2011-10-31,1976-03-11,Professional,8000.0,1978-12-28,Professional,7000.0,2009-02-10,2.0,0.0,...,1976,3,11,1978,12,28,2009,2,10,2
2207,2012-10-31,1977-10-29,Professional,12500.0,1978-12-01,Professional,6000.0,2008-10-25,3.0,0.0,...,1977,10,29,1978,12,1,2008,10,25,1
2208,2013-12-31,1960-06-22,Professional,20000.0,1972-01-22,Professional,20000.0,2009-08-22,4.0,0.0,...,1960,6,22,1972,1,22,2009,8,22,12

In [19]:
divorces['num_kids'] = divorces['num_kids'].astype(int)

divorces

/var/folders/5r/_c42s4_d6h5g65rnc5b8q6240000gn/T/ipykernel_55656/1388112787.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  divorces['num_kids'] = divorces['num_kids'].astype(int)

,divorce_date,dob_man,education_man,income_man,dob_woman,education_woman,income_woman,marriage_date,marriage_duration,num_kids,...,dob_man_year,dob_man_month,dob_man_day,dob_woman_year,dob_woman_month,dob_woman_day,marriage_date_year,marriage_date_month,marriage_date_day,age_difference
0,2006-09-06,1975-12-18,Secondary,2000.0,1983-08-01,Secondary,1800.0,2000-06-26,5.0,1,...,1975,12,18,1983,8,1,2000,6,26,8
1,2008-01-02,1976-11-17,Professional,6000.0,1977-03-13,Professional,6000.0,2001-09-02,7.0,0,...,1976,11,17,1977,3,13,2001,9,2,1
2,2011-01-02,1969-04-06,Preparatory,5000.0,1970-02-16,Professional,5000.0,2000-02-02,2.0,2,...,1969,4,6,1970,2,16,2000,2,2,1
3,2011-01-02,1979-11-13,Secondary,12000.0,1981-05-13,Secondary,12000.0,2006-05-13,2.0,0,...,1979,11,13,1981,5,13,2006,5,13,2
4,2011-01-02,1982-09-20,Professional,6000.0,1988-01-30,Professional,10000.0,2007-08-06,3.0,0,...,1982,9,20,1988,1,30,2007,8,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2204,2006-10-31,1969-11-27,Professional,6000.0,1975-09-01,Professional,14000.0,2002-03-08,4.0,0,...,1969,11,27,1975,9,1,2002,3,8,6
2205,2006-10-31,1970-09-17,Professional,6000.0,1977-07-22,Professional,6000.0,2002-03-22,4.0,0,...,1970,9,17,1977,7,22,2002,3,22,7
2206,2011-10-31,1976-03-11,Professional,8000.0,1978-12-28,Professional,7000.0,2009-02-10,2.0,0,...,1976,3,11,1978,12,28,2009,2,10,2
2207,2012-10-31,1977-10-29,Professional,12500.0,1978-12-01,Professional,6000.0,2008-10-25,3.0,0,...,1977,10,29,1978,12,1,2008,10,25,1
2208,2013-12-31,1960-06-22,Professional,20000.0,1972-01-22,Professional,20000.0,2009-08-22,4.0,0,...,1960,6,22,1972,1,22,2009,8,22,12

In [20]:
mapping = {
    'Primary': 1,
    'Preparatory': 2,
    'Secondary': 3,
    'Professional': 4,
    'Other': 0
}

divorces['education_man_numeric'] = divorces['education_man'].map(mapping)
divorces['education_woman_numeric'] = divorces['education_woman'].map(mapping)

divorces['education_man_numeric'] = divorces['education_man_numeric'].astype(int)
divorces['education_woman_numeric'] = divorces['education_woman_numeric'].astype(int)

divorces

/var/folders/5r/_c42s4_d6h5g65rnc5b8q6240000gn/T/ipykernel_55656/1569318928.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  divorces['education_man_numeric'] = divorces['education_man'].map(mapping)
/var/folders/5r/_c42s4_d6h5g65rnc5b8q6240000gn/T/ipykernel_55656/1569318928.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  divorces['education_woman_numeric'] = divorces['education_woman'].map(mapping)
/var/folders/5r/_c42s4_d6h5g65rnc5b8q6240000gn/T/ipykernel_55656/1569318928.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  divorces['education_man_numeric'] = divorces['education_man_numeric'].astype(int)
/var/folders/5r/_c42s4_d6h5g65rnc5b8q6240000gn/T/ipykernel_55656/1569318928.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  divorces['education_woman_numeric'] = divorces['education_woman_numeric'].astype(int)

,divorce_date,dob_man,education_man,income_man,dob_woman,education_woman,income_woman,marriage_date,marriage_duration,num_kids,...,dob_man_day,dob_woman_year,dob_woman_month,dob_woman_day,marriage_date_year,marriage_date_month,marriage_date_day,age_difference,education_man_numeric,education_woman_numeric
0,2006-09-06,1975-12-18,Secondary,2000.0,1983-08-01,Secondary,1800.0,2000-06-26,5.0,1,...,18,1983,8,1,2000,6,26,8,3,3
1,2008-01-02,1976-11-17,Professional,6000.0,1977-03-13,Professional,6000.0,2001-09-02,7.0,0,...,17,1977,3,13,2001,9,2,1,4,4
2,2011-01-02,1969-04-06,Preparatory,5000.0,1970-02-16,Professional,5000.0,2000-02-02,2.0,2,...,6,1970,2,16,2000,2,2,1,2,4
3,2011-01-02,1979-11-13,Secondary,12000.0,1981-05-13,Secondary,12000.0,2006-05-13,2.0,0,...,13,1981,5,13,2006,5,13,2,3,3
4,2011-01-02,1982-09-20,Professional,6000.0,1988-01-30,Professional,10000.0,2007-08-06,3.0,0,...,20,1988,1,30,2007,8,6,6,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2204,2006-10-31,1969-11-27,Professional,6000.0,1975-09-01,Professional,14000.0,2002-03-08,4.0,0,...,27,1975,9,1,2002,3,8,6,4,4
2205,2006-10-31,1970-09-17,Professional,6000.0,1977-07-22,Professional,6000.0,2002-03-22,4.0,0,...,17,1977,7,22,2002,3,22,7,4,4
2206,2011-10-31,1976-03-11,Professional,8000.0,1978-12-28,Professional,7000.0,2009-02-10,2.0,0,...,11,1978,12,28,2009,2,10,2,4,4
2207,2012-10-31,1977-10-29,Professional,12500.0,1978-12-01,Professional,6000.0,2008-10-25,3.0,0,...,29,1978,12,1,2008,10,25,1,4,4
2208,2013-12-31,1960-06-22,Professional,20000.0,1972-01-22,Professional,20000.0,2009-08-22,4.0,0,...,22,1972,1,22,2009,8,22,12,4,4

In [21]:
divorces.to_csv(
    path_or_buf='./../data/divorce_processed.csv'
)